.profile-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .image-container {
    width: 45%;
  }

  .info-container {
    font-size: large;

    .job {
      color: $main-color;
    }

    .email {
      b {
        color: $main-color;
      }
    }

    .phone {
      b {
        color: $main-color;
      }
    }
  }
}
