.project-container {
  .project-image {
    display: flex;
    padding: 30px $side-padding;
    justify-content: center;
    overflow: hidden;
  }

  .project-info {
    // display: grid;
    padding: 0 $side-padding;
    // grid-template-columns: 5fr 1fr;

    .project-name {
      margin-top: 0;
      font-size: 50px;
      text-align: center;

      a {
        color: $main-color;
        text-decoration: none;

        &:hover {
          color: $second-color;
        }
      }
    }

    .project-description {
      font-size: 20px;
      line-height: 2;
    }
  }
}
