footer {
  display: flex;
  justify-content: space-between;

  .developer {
    margin: auto;
    margin-left: 0;
  }

  .links {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

    a {
      color: $text-color;

      :hover {
        color: $main-color;
      }
    }
  }
}
