@import "./helpers/variables.scss";

@import "./components/button.scss";
@import "./components/card.scss";
@import "./components/form.scss";
@import "./components/grid.scss";

@import "./layout/nav.scss";
@import "./layout/footer.scss";

@import "./views/profile.scss";
@import "./views//skills.scss";
@import "./views/projects.scss";
@import "./views/project.scss";

body {
  background-color: $back-color;
  color: $text-color;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}
