@import "./helpers/variables.scss";
@import "./helpers/functions.scss";
@import "./helpers/mixins.scss";

@import "./components/image.scss";
@import "./components/button.scss";
@import "./components/card.scss";
@import "./components/form.scss";
@import "./components/grid.scss";

@import "./layout/nav.scss";
@import "./layout/footer.scss";

@import "./views/profile.scss";
@import "./views//skills.scss";
@import "./views/projects.scss";
@import "./views/project.scss";

body {
  background-color: $back-color;
  color: $text-color;
}

h1 {
  margin-top: 0;
  font-size: 36px;
}

h2 {
  margin-top: 0;
  font-size: 32px;
}

h3 {
  margin-top: 0;
  font-size: 28px;
}

h4 {
  margin-top: 0;
  font-size: 24px;
}

h5 {
  margin-top: 0;
  font-size: 20px;
}

h6 {
  margin-top: 0;
  font-size: 16px;
}

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}
