.card {
  // width: 400px;
  // background-color: $shadow-color;
  border-radius: 50px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

  .card-header {
    figure {
      margin: 0;

      img {
        border-radius: 50px 5px 0 0;
      }
    }
  }

  .card-body {
    padding: 15px;
    padding-top: 5px;

    p {
      margin-top: 0;
    }
  }
}
