form {
  &.flex-form {
    display: flex;

    .form-image {
    }

    .form-data {
      width: 100%;
    }
  }

  .form-label {
    display: block;
    margin-bottom: $spacer * 0.75;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: $spacer * 0.375 $spacer * 0.75;
    border: 1px solid $second-color;
    border-radius: $spacer * 0.375;
    color: $back-color;
    box-sizing: border-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  textarea.form-control {
    height: 142px;
  }
}
